${header}
<div class="container">

    <div class="container mt-2 mb-1">
        <div class="d-flex justify-content-between">
            <h1>Me - Authors</h1>

            <!-- Button trigger modal -->
            <div class="button align-self-center">
                <button type="button" class=" btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i class="fas fa-plus-circle"></i> New Author
                </button>
            </div>
        </div>
    </div>

    <!-- Sort Feature -->
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="btn-group" role="group" aria-label="Sort Buttons">
                    <a href="/author/sort/main/az" data-sort class="btn btn-outline-primary"><i
                            class="fas fa-sort-alpha-down"></i> Last Name</a>

                    <a href="/author/sort/main/za" data-sort class="btn btn-outline-primary"><i
                            class="fas fa-sort-alpha-down-alt"></i> Last Name</a>

                    <a href="/author/sort/main/sorted" data-sort class="btn btn-outline-primary" for="btnradio3"><i
                            class="far fa-calendar"></i> Last Modified</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 pt-2 pt-md-0">
                <form class="d-flex" method="GET" action="/author/search">
                    <input name="term" class="form-control" type="search" placeholder="Search Authors"
                        aria-label="Search Authors">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content card-background">
                <img src="/images/front_page_image.svg " class="card-img-top" alt="bookcase cartoon">
                <div class="modal-header mb-3">
                    <h5 class="modal-title" id="staticBackdropLabel">Add a New Author</h5>

                </div>
                <div class="modal-body">
                    <!-- Add Author Form -->
                    <form id="add-new-author" action="/author/add" method="POST">

                        <label class="form-label" for="firstname"> First Name </label>
                        <input autofocus required class="form-control" id="firstname" name="authorfirst" type="text">

                        <label class="form-label"" for=" lastname"> Last Name </label>
                        <input required class="form-control" id="lastname" name="authorlast" type="text">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="add-new-author" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Cards for each author -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        ${authors.length > 0 ? authors.map(auth=>`
        <div class="col shadow-lg p-3 mb-5">
            <div class="card h-100">
                <div class="card card-background">


                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title"><a class="nonunderline"
                                    href="/book/${auth.id}/sort/sorted">${auth.authorfirst}
                                    ${auth.authorlast}</a>
                            </h5>
                            <div class="dropdown">
                                <i type="button" class="fas fa-ellipsis-v" data-bs-toggle="dropdown"
                                    aria-expanded="false"></i>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <li><span data-author-id="${auth.id}" data-bs-toggle="modal"
                                            data-bs-target="#editForm" class="dropdown-item"><i
                                                class="fas fa-edit"></i>Edit</span></li>

                                    <li class="bg-danger"><span data-author-id="${auth.id}" data-bs-toggle="modal"
                                            data-bs-target="#deleteCard" class="dropdown-item"><i
                                                class="fas fa-trash-alt"></i> Delete</span></li>
                                </ul>

                            </div>
                        </div>
                        <div class="border-bottom border-dark"></div>
                        <p class="card-text"></p>
                        <p class="card-text"><small class="text-muted">Last updated
                                ${auth.updatedAt.toLocaleDateString()}</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for Edit -->


        <form action="/author/edit/${auth.id}" id="edit-author" method="POST" class="editAuthor hide-this">

            <label for="firstname"> First Name </label>
            <input autofocus required id="firstname" name="authorfirst" type="text"
                value="${auth.authorfirst}">

            <label for="lastname"> Last Name </label>
            <input required id="lastname" name="authorlast" type="text" value="${auth.authorlast}">

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button data-bs-dismiss="modal" type="submit" data-edit-author
                class="btn btn-primary">Understood</button>
        </form>

        <!-- <div class="modal fade" id="editForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Edit Author</h5>
                    </div>
                    <div class="modal-body">
                        <form action="/author/edit/${auth.id}" id="edit-author" method="POST">

                            <label for="firstname"> First Name </label>
                            <input autofocus required id="firstname" name="authorfirst" type="text"
                                value="${auth.authorfirst}">

                            <label for="lastname"> Last Name </label>
                            <input required id="lastname" name="authorlast" type="text" value="${auth.authorlast}">

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button data-bs-dismiss="modal" type="submit" data-edit-author
                                class="btn btn-primary">Understood</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->

        `).join("") :`<div class="container">
            <h2>No Authors Yet!</h2>
        </div>` }


    </div>



    <!-- Modal for Delete -->
    <div class="modal fade" id="deleteCard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete Author?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button data-bs-dismiss="modal" data-delete-author type="button"
                        class="bg-danger btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="/scripts/deleteauthors.js"></script>
<script src="/scripts/sortscript.js"></script>
<script src="/scripts/editauthors.js"></script>

${footer}