${header}
<form action="create" method="POST">

<label for="username">Username</label>
<input required autofocus id="username" name="username" type="text">

<label for="firstname">First Name</label>
<input required id="firstname" name="firstname" type="text">

<label for="lastname">Last Name</label>
<input required id="lastname" name="lastname" type="text">

<label for="password">Password</label>
<input required id="password" type="password" name="password">

<input type="submit" value="Create an Account!">

</form>

${footer}