${header}


<div class="container">

    <div class="container mt-2 mb-1 ">
        <div class="d-flex justify-content-between">
            <h1>Books by ${author.authorfirst} ${author.authorlast}</h1>

            <!-- Button trigger modal -->
            <div class="button align-self-center">
                <button type="button" class=" btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i class="fas fa-plus-circle"></i>Add Book
                </button>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add a New Book</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-new-book" action="add" method="POST">


                        <label for="title">Title</label>
                        <input autofocus required id="title" type="text" name="title">

                        <label for="copyright">Copyright Year</label>
                        <input required id="copyright" type="text" name="copyright">

                        <label for="totalpages">Total Pages in Book</label>
                        <input required id="totalpages" type="text" name="totalpages">

                        <label for="currentpage">What page are you on? (If you've finished, please enter the total page
                            count!)</label>
                        <input required id="currentpage" type="text" name="currentpage">

                        <input name="hidden_author_id" type="hidden" data-hidden_author_id>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="add-new-book" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        ${books.length > 0 ? books.map(b=>`
        <div class="col shadow-lg p-3 mb-5">
            <div class="card h-100">
                <div class="card card-background">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title"> ${b.title}
                            </h5>

                            <div class="dropdown">
                                <i type="button" class="fas fa-ellipsis-v" data-bs-toggle="dropdown"
                                    aria-expanded="false"></i>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <li><span data-book-id="${b.id}" data-bs-toggle="modal" data-bs-target="#editForm"
                                            class="dropdown-item"><i class="fas fa-edit"></i>Edit</span></li>

                                    <li><span data-book-id="${b.id}" data-bs-toggle="modal" data-bs-target="#deleteCard"
                                            class="dropdown-item"><i class="fas fa-trash-alt"></i> Delete</span></li>
                                </ul>

                            </div>
                        </div>
                        <p class="card-text"></p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        `).join("") :`<h2>No Books Yet!</h2>` }

    </div>
    <!-- Modal for Edit -->
    <div class="modal fade" id="editForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="staticBackdropLabel">Edit Author</h5>

                    <form id="add-new-book" action="add" method="POST">


                        <label for="title">Title</label>
                        <input autofocus required id="title" type="text" name="title">

                        <label for="copyright">Copyright Year</label>
                        <input required id="copyright" type="text" name="copyright">

                        <label for="totalpages">Total Pages in Book</label>
                        <input required id="totalpages" type="text" name="totalpages">

                        <label for="currentpage">What page are you on? (If you've finished, please enter the total page
                            count!)</label>
                        <input required id="currentpage" type="text" name="currentpage">

                        <input name="hidden_author_id" type="hidden" data-hidden_author_id>


                        <button id="edit-author" type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button data-bs-dismiss="modal" type="submit" data-edit-author
                        class="btn btn-primary">Understood</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for Delete -->
    <div class="modal fade" id="deleteCard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete Book?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button data-bs-dismiss="modal" data-delete-book type="button"
                        class="bg-danger btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/scripts/grabbookurl.js"></script>
<script src="/scripts/deletebook.js"></script>



${footer}