${header}


<div class="container">

    <div class="container mt-2 mb-4">
        <div class="d-flex justify-content-between">
            <h1>Books by ${author.authorfirst} ${author.authorlast}</h1>

            <!-- Button trigger modal -->
            <div class="button align-self-center">
                <button type="button" class=" btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i class="fas fa-plus-circle"></i>Add Book
                </button>
            </div>
        </div>
    </div>


    <!-- Sort Feature -->
    <div class="container mb-4">
        <div class="row">

            <div class="col-md-6 col-sm-12">

                <div class="btn-group" role="group" aria-label="Sort Buttons">
                    <a href="/book/${author.id}/sort/az" data-sort class="btn btn-outline-primary"><i
                            class="fas fa-sort-alpha-down"></i> Title</a>

                    <a href="/book/${author.id}/sort/za" data-sort class="btn btn-outline-primary"><i
                            class="fas fa-sort-alpha-down-alt"></i> Title</a>

                    <a href="/book/${author.id}/sort/sorted" data-sort class="btn btn-outline-primary"
                        for="btnradio3"><i class="far fa-calendar"></i> Last Modified</a>

                </div>
            </div>
            <div class="col-md-6 col-sm-12 pt-2 pt-md-0">
                <form class="d-flex" method="GET" action="/book/search">
                    <input name="term" class="form-control" type="search" placeholder="Search Books"
                        aria-label="Search Books">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content card-background">
                <img height="150" src="/images/front_page_image.svg" class="card-img-top" alt="bookcase cartoon">

                <div class="modal-header mb-3">
                    <h5 class="modal-title" id="staticBackdropLabel">Add a New Book</h5>
                </div>
                <div class="modal-body">

                    <!-- Add Book Form -->
                    <form id="add-new-book" action="/book/add" method="POST">


                        <input autofocus required class="form-control mb-3" id="title" type="text" name="title"
                            placeholder="Title">


                        <label for="copyright">Copyright Year</label>

                        <select data-select-year name="copyright" id="copyright" class="form-select form-select-sm mb-3"
                            aria-label="Select Copyright Year">
                            ${contents.map(content => content)}
                        </select>

                        <input required class="form-control mb-3" id="totalpages" type="text" name="totalpages"
                            placeholder="Total pages">

                        <label class="form-label mb-3" for="currentpage">What page are you on? (If you've finished,
                            please enter the total page
                            count!)</label>
                        <input required class="form-control" id="currentpage" type="text" name="currentpage">

                        <input name="hidden_author_id" type="hidden" data-hidden_author_id>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="add-new-book" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        ${books.length > 0 ? books.map(b=>`
        <div class="col shadow-lg p-3 mb-5">
            <div class="card h-100">
                <div class="card card-background">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title"> ${b.title}</h5>

                            <div class="dropdown">
                                <i type="button" class="fas fa-ellipsis-v" data-bs-toggle="dropdown"
                                    aria-expanded="false"></i>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <!-- <li><span data-book-id="${b.id}" data-bs-toggle="modal" data-bs-target="#editForm"
                                            class="dropdown-item"><i class="fas fa-edit"></i>Edit</span></li> -->

                                    <li class="bg-danger"><span data-book-id="${b.id}" data-bs-toggle="modal"
                                            data-bs-target="#deleteCard" class="dropdown-item"><i
                                                class="fas fa-trash-alt"></i> Delete</span></li>
                                </ul>

                            </div>
                        </div>
                        <p class="card-text">&copy ${b.copyright}</p>
                        <p class="card-text">Total page count : ${b.totalpages}</p>
                        <p class="card-text">Page I'm on : ${b.currentpage}</p>
                        <p class="card-text"><small class="text-muted">${b.updatedAt.toLocaleDateString()}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for Edit -->
        <!-- <div class="modal fade" id="editForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="staticBackdropLabel">Edit Author</h5>

                        <form id="add-new-book" action="/book/add" method="POST">


                            <label for="title">Title</label>
                            <input autofocus required id="title" type="text" name="title">

                            <label for="copyright">Copyright Year</label>
                            <input required id="copyright" type="text" name="copyright">

                            <label for="totalpages">Total Pages in Book</label>
                            <input required id="totalpages" type="text" name="totalpages">

                            <label for="currentpage">What page are you on? (If you've finished, please enter the total
                                page
                                count!)</label>
                            <input required id="currentpage" type="text" name="currentpage">

                            <input name="hidden_author_id" type="hidden" data-hidden_author_id>


                            <button id="edit-author" type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button  type="submit" data-edit-author
                            class="btn btn-primary">Understood</button>
                    </div>
                    </form>
                </div>
            </div>
        </div> -->

        `).join("") : `<div class="container">
            <h2>No Books Yet!</h2>
        </div>` }

    </div>


    <!-- Modal for Delete -->
    <div class="modal fade" id="deleteCard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete Book?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button data-bs-dismiss="modal" data-delete-book type="button"
                        class="bg-danger btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/scripts/grabbookurl.js"></script>
<script src="/scripts/deletebook.js"></script>
<script src="/scripts/sortscript.js"></script>


${footer}